*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body{
    min-width: 1000px;
    overflow-x: hidden;
    overflow: hidden;
}

/* Main Style Settings */

/**/

header, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**/


/* header start */

.header_container_Size{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 20px 0;
}

.logo{
    font-size: 40px;
    font-weight: 900;
}
.logo span:nth-child(1){
    color: rgb(200, 190, 190);
}
.logo span:nth-child(2){
    color: rgb(255, 0, 0);
}

.NavigationMenu{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.NavigationMenu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NavigationMenu li a{
    text-decoration: none;
    color: rgb(134, 132, 132);
}
.NavigationMenu li .dicoration{
    width: 0;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transition: 0.5s ease;
}
.NavigationMenu li:hover .dicoration, .NavigationMenu li:hover a{
    width: 100%;
    color: rgb(255, 0, 0);
}

/* header end */

/* main start */

.Aone_container_Size{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 80px 0;


} 
.container_firstPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 500px;
}
.container_firstPage:nth-child(1){
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}
.container_image{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius:50%;
}
.container_image::before{
    content: "";
    width: 450px;
    height: 450px;
    background-color: brown;
    position: absolute;
    border-radius: 50% 50% / 20% 70%;
    z-index: -1;
    transition: 1s ease;
}
.container_firstPage:nth-child(2):hover .container_image::before{
    border-radius: 70% 20% / 50% 50%;
}
.title_Aone{
    font-size: 60px;
    font-weight: unset;
    margin-bottom: 40px;
}
.title_Aone span:nth-child(1){
    color: red;
}
.underTitle{
    color: rgb(0, 0, 0);
    line-height:25px;
    font-size: 20px;
    margin-bottom:30px ;
}
.Button, .Button a{
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
.Button:hover, .Button:hover a{
    background-color: black;
}
.Atwo_container_Size{
    margin: 80px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Atwo_container_FirstPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Atwo_container_photo{
    width: 300px;
    height: 300px;
    overflow-y: hidden;
    z-index: 1;
}
.Atwo_container_photo img{
    width: 100%;
    transition: 1.5s;
}
.Atwo_container_photo:hover img {
    transform: scale(1.3);
}
.Athree_container_Size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow-y: hidden;
    background-image: url(image/services_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 120vh;
    width: 100%;
    margin: 50px 0 ;
    z-index: 1;
}
.Athree_container_Size::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    box-shadow: 0 -50px 600px 600px black;
    z-index: 2;
}
.Athree_container_BigData{
    max-width:1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
}
.Athree_container_FirstPage{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    overflow-y: hidden;
}
.Athree_container_data{
    width: 300px;
    height: 300px;
    background-color: rgb(81, 81, 81);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 5;
    color: rgb(215, 215, 215);
    font-size: 15px;
    font-weight: 600px;
    overflow-y: hidden;
}
.Logo_Data{
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
}
.Logo_Data div:nth-child(1) {
    font-size: 30px;
    padding: 20px;
    background-color: red;
    border-radius: 50% ;
    font-weight: 900;
    margin: 10px;
}
.button_menu_item {
    color: rgb(185, 186, 180);
    font-size: 20px;
}


/* main end */





/* media */

@media (max-width:1250px){
    .Athree_container_BigData{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 900px;
        height: 1000px;
    }
    .Athree_container_FirstPage{
        flex-direction: row;
        margin-bottom: 30px;
    }
    .Athree_container_Size{
        min-height: 150vh;
        background-size:auto;
    }
    .Athree_container_Size::after{
        box-shadow: 0 -50px 1000px 1000px black;
    }


    body{
        min-width: 750px;
        text-align: center;
    }
    .Aone_container_Size{
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }
    .container_firstPage:nth-child(1){
        align-items: center;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .Atwo_container_Size{
        flex-direction: column;
        justify-content:space-around;
        align-content: center;
        margin: 40px;
        height: 700px;
        max-width: 700px;  
    }

}

@media (max-width:425px){
    .Athree_container_Size::after{
        box-shadow: 0 -50px 2000px 2000px black;
    }
    .Athree_container_FirstPage{
        flex-direction: column;
        width: 300px;
        margin: 0;
        min-height: 700px;
        align-items: center;
        justify-content: flex-start;
    }
    .Athree_container_BigData{
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        max-width: 900px;
        height: 100%;
    }
    .Athree_container_Size{
        min-height:300vh ;
    }
    .button_menu_item {
        margin-left: 10px;
    }
    .Athree_container_data{
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }
    body{
        min-width: 300px;
        text-align: center;
    }
    .NavigationMenu{
        display:none;
    }
    .title_Aone{
        margin-bottom: 10px;
        font-size: 40px;
    }
    .underTitle{
        font-size: 20px;
        width: 300px;
        margin: 10px;
    }   
    .Atwo_container_Size{
        flex-direction: column;
        justify-content: space-between;
        max-width: max-content;
        height: max-content;

    }
    .Atwo_container_FirstPage{
        flex-direction: column;
        justify-content:flex-start;
        margin:0;
    }
    .container_image::before, .container_image{
        width: 300px;
        height: 300px;
    }
    .container_image img{
        width: 450px;
    }
    .Atwo_container_photo{
        margin-bottom: 10px;
    }
}
